@import 'common/style/func.scss';

$component-name: 'play';
$width: rem-calc(20);
$width-container: rem-calc(20 * 1.414);

.#{$component-name + '-container'} {
   width: $width-container;
   height: $width-container;
   display: inline-block;
   vertical-align: bottom;
}

@mixin no-border {
   border: solid $width transparent;
}

$border-width: rem-calc(14.14);
.#{$component-name + '-play'} {
   width: 0px;
   height: 0px;
   display: inline-block;
   vertical-align: bottom;
   border-left: $border-width rgb(73, 73, 73) solid;
   border-top: solid $border-width transparent;
   border-bottom: solid $border-width transparent;
   border-right: solid $border-width transparent;
   transform: translate(rem-calc(14.14 * 1.3 / 2), rem-calc(2));
}

.#{$component-name + '-pause'} {
   width: rem-calc(7 * 1.414);
   height: inherit;
   display: inline-block;
   vertical-align: bottom;
   border-left: rem-calc(4) rgb(73, 73, 73) solid;
   border-right: rem-calc(4) rgb(73, 73, 73) solid;
   transform: translate(rem-calc(5 * 1.415), rem-calc(2));
}